@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&display=swap");
:root {
  --main-color: #ffffff;
  --secondary-color-g: #9a9087;
  --secondary-color-b: #212121;
  --main-font: "Montaga", serif;
  --secondary-font: "Inter", sans-serif;
  --btn-color: #bc8157;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
body{
  padding-top:50px;
}
*/
.navbar-custom {
 position:fixed;
 top: 0;
width: 100%;
 background-image: url(../img/HeroSection/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10000;
}

.width-30{
  width: 30%;
}
.width-20{
  width: 20%;
}

.width-60{
  width: 60%;
}


.width-70{
  width: 70%;
}

.navbar-custom a {
  color: var(--main-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 28.8px;
  font-size:20px;


}
.navlogo i {
   color: var(--main-color);
  
  font-size:20px;

}

.Hero {
  background-image: url(../img/HeroSection/Hero.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:850px;
  padding-bottom: 40px;
  
   

}
.Hero .container,
.Hero .row,
.Hero .HeroContent {
  height: 100%;
}

.Hero img {
  height: 108px;
  width: 95px;
}

.Hero h1 {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size:80px;
  font-weight: 400;
  line-height: 85px;
  line-height: 1.2;

 

}

.order-now-btn {
  width: 210px;
  height: 70px;
  background-color: var(--btn-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 62px;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  transition: background-color 0.5s;
  margin-top: 25px;
}
.order-now-btn:hover {
  background-color: black;
}






.ComeWithUs-section{
  margin-top:80px;
  background-image: url(../img/ComeWithUs.png);
  background-size: cover;
  background-repeat: no-repeat;
 width: 100%;
  height:600px;
padding-left:80px;
 padding-right:80px;  
     display:grid;
     grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-items: center;

 

 
}


.ComeWithUsLeft{
background-color: #2F1E12;
    padding: 70px 60px;
    max-width: 720px;
     
     color: var(--main-color);
    
     display:flex;
     flex-direction: column;
     gap: 10px;
     align-items:flex-start;
     justify-content: center;
   
     
   
}
.ComeWithUsLeft h3{
font-family: var(--main-font);
 font-size: 24px;
}

.ComeWithUsLeft h3::after{
  content:" _______";
  font-size: 24px;
  font-weight: bold;
}
.ComeWithUsLeft p{
  font-family: var(--secondary-font);
   font-size: 16px;
}

.ComeWithUsRight{
  position: relative;


}

.ComeWithUsRightArrow{
    position: absolute ;
        top: 73px;
    left:88px;
  color: var(--main-color);
  font-size:42px;
  font-weight: 200 !important;


}


.ComeWithUsRightArrow:hover{
  font-size:50px;
}


.banner-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.banner{
  background-size: cover;
  height:260px;
  position: relative;
    display: flex;
    flex-direction: column;
    
    
    gap: 15px;
     z-index: 0;

     
}

.banner1{
    background-image: url(../img/bannersection/banner-01.png);

}
     


.banner1:hover{
    border: #ffffff solid 2px;

}


.banner1::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.banner span {
   color:var(--main-color);
     z-index: 1000000000;
     

}

.spannumber {
  font-size: 24px;
  font-family: var(--secondary-font);
  align-self:flex-end;
 padding-right:15px;
 padding-top:12px;
}

.spanname {
   font-size: 32px;
   font-family: var(--main-font);
  padding-left:40px;
 padding-top:60px;

}
.banner a{
    color:var(--main-color);
     z-index: 1000000000;
   font-size: 15px;
   font-family: var(--secondary-font);
  padding-left:40px;
 padding-top:10px;
}


.banner2{
    background-image: url(../img/bannersection/banner-02.png);
  
}
.banner2:hover{
    border: #ffffff solid 2px;

}
.banner2::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.banner3{
    background-image: url(../img/bannersection/banner-03.png);
 
}
.banner3:hover{
    border: #ffffff solid 2px;

}
.banner3::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.banner4{
    background-image: url(../img/bannersection/banner-04.png);
   
}
.banner4:hover{
    border: #ffffff solid 2px;

}
.banner4::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.SweetDaySection{
    margin-top:100px;

}
.SweetDay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SweetDay h2{
  color: var(--secondary-color-b);
  font-size: 36px;
  font-family: var(--main-font);
      font-weight: 400;

}


.SweetDay p{
  color: var(--secondary-color-g);
  font-size: 19px;
  font-family: var(--main-font);
  width:70%;
  text-align: center;
      font-weight: 400;

}


.AllproductSweetDay{
    width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 80px;
   margin-bottom:100px;
   gap:20px;
  
}

.Allproduct1SweetDay{
  border: 1.9px solid #e4e2e0f1;
  width:100%;
  height:450px;

}

.Allproduct1SweetDay  a {
  font-family: var(--main-font);
  color:var(--secondary-color-b);
   font-size:22px;
   text-decoration: none;

 } 


 .Allproduct1SweetDay a:hover {
  color: var(--btn-color);

}

.Allproduct1SweetDay  span {
  font-family: var(--main-font);
  color:var(--secondary-color-b);
   font-size:32px;

 } 


 .imgproduct{
  width:85%;
  height:300px;
 
}

.imgarrow{
  width:40px ;
  height: 15px;
}



.OurProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.OurProducts h2{
  color: var(--secondary-color-b);
  font-size: 36px;
  font-family: var(--main-font);
      font-weight: 400;

}


.OurProducts p{
  color: var(--secondary-color-g);
  font-size: 19px;
  font-family: var(--main-font);
  width:70%;
  text-align: center;
      font-weight: 400;

}

.OurProducts a{
   color: var(--secondary-color-g);
   
  font-size: 19px;
  font-family: var(--secondary-font-font);
  text-decoration: none;
}

.OurProductsafter::after{
content: "|";
margin-left:30px;

}
.OurProductsLinks{
  display: flex;
  flex-direction: row;
  gap:40px;
 


}

.OurProductsLinks a:hover{
  color: var(--btn-color);
}

.Allproduct{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 80px;
   margin-bottom:100px;
  gap:30px;
}

.Allproduct1img{
  border: 1.9px solid #e4e2e0f1;
    box-shadow: 0px 0px 1px 4px  #e0dcd81c;

  height: 335px;
  width: 268px;
  margin-left: 10px;
  padding-top: 30px;
}

.Allproduct1 {
  display: flex;
  flex-direction: column;
  gap:15px;
  align-items: center;
  justify-content: center;
 
}
.Allproduct1 span{
     font-size:22px;
  font-family: var(--main-font);

    color:var(--secondary-color-b);


}
.Allproduct1  a {
  font-family: var(--main-font);
  color:var(--secondary-color-b);
   font-size:24px;

 } 
.Allproduct1 a:hover {
  color: var(--btn-color);

}
.Allproduct1 img{
  width:100%;
  height:280px;
 


}























.logos{
  display:grid;
  grid-template-columns: repeat(5,1fr);
 gap:80px;
 margin-top: 80px;
 margin-bottom: 80px;
 align-items: center;
 justify-content: center;

}
.logos img{
  height:110px;
  width: 120px;
}


.footer {
  height: 100vh;
}

.footer-top {
  width: 100%;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--main-color);
  height:60vh;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-top span{
  font-family: var(--main-font);
  font-size: 32px;
font-weight: 400;
line-height: 41.6px;
text-transform: uppercase;
margin-bottom: 20px;

}

.footer-top .input-footer{
  width: 650px;
  height: 70px;
  background-color: var(--main-color);
  border: none;
 
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: rgb(33, 33, 33);
 
}
.footer-top .button-footer{
  font-family: var(--main-font);
font-size: 22px;
font-weight: 400;
line-height: 28px;
color: var(--secondary-color-b);
   width:120px;
  height: 70px;
  background-color: var(--main-color);
  border: none;
}

.button-footer:hover{
  color: var(--btn-color);
}

.footer-bot {
  padding-top: 80px;
}

.footer-bot h5 {
  color: var(--secondary-color-b);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-bot a {
  font-family: var(--secondary-font);
  color: var(--secondary-color-g);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-decoration: none;
}
.footer-bot a:hover {
 
  color: var(--secondary-color-b);
  
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   gap: 40px;

   
}








/* =========================================================================================================== */

/* shop */



.Hero-shop {
  background-image: url(../img/shop/heroshop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:550px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   position: relative;

z-index: 0;
   

}

.Hero-shop::after {
 content: "";
  position: absolute;
  top: 0; 
  left: 0;
  right:0;
  bottom:0;
  width: 100%; 
 
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


.Hero-shop .content1 {
  position: relative;
  z-index: 2;
  text-align: center;
}



.Hero-shop h1 {
 font-size:55px;
 font-family:var(--main-font);
 color: #ffffff;

}


.Hero-shop  a{
 font-size:16px;
 font-family:var(--main-font);
 color: #ffffff;
 text-decoration: none;

}
.Hero-shop  a:hover{
color: var(--btn-color);
font-weight: 700;

}

.Hero-shop  span{
 font-size:16px;
 font-family:var(--main-font);
 color: #ffffff;

}




.products{
  margin-top: 60px;
  margin-bottom: 60px;
}

.products a{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 22px;
  color: var(--secondary-color-b);
}

.products span{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 22px;
  color: var(--secondary-color-b);
}
.product{
  margin-bottom: 50px;
}
.productall{
  display: grid;
  grid-template-columns:repeat(5,1fr);
  justify-content: center;
  align-items: center;
  gap: 25px;

 
}
.product-img{
  border: #9a9087 solid 1px;
  height:260px;
}

.product-img img {
  width:200px;
  
}



.footer-bot-shop {
  height:480px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
   color: #ffffff;
}



.footer-bot-shop a {
  font-family: var(--secondary-font);
  color: var(--secondary-color-g);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-decoration: none;
}
.footer-bot-shop a:hover {
 
  color: var(--secondary-color-b);
  
}




/* =========================================================================================================== */

/* HeroContactUs */



.HeroContactUs {
  background-image: url(../img/ContactUs/ContactUs.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:550px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   position: relative;

z-index: 0;
   

}

.HeroContactUs::after {
 content: "";
  position: absolute;
  top: 0; 
  left: 0;
  right:0;
  bottom:0;
  width: 100%; 
 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.HeroContactUs .content1 {
  position: relative;
  z-index: 2;
  text-align: center;
}



.HeroContactUs  h1 {
 font-size:px;
 font-family:var(--main-font);
 color: #ffffff;

}


.HeroContactUs  a{
 font-size:16px;
 font-family:var(--main-font);
 color: #ffffff;
 text-decoration: none;

}
.HeroContactUs  a:hover{
color: var(--btn-color);
font-weight: 700;

}
.HeroContactUs  span{
 font-size:16px;
 font-family:var(--main-font);
 color: #ffffff;

}

.InformationSection{
  margin-top:120px;
   margin-bottom: 120px;
}
.LeftInformation{
  gap: 50px;
}
.Information{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}



.LeftInformation h5{
  font-size: 36px;
  font-family: var(--main-font);
  color: var(--secondary-color-b);
}


.LeftInformation p{
  font-size:14px;
  color: var(--secondary-color-g);
  font-family: var(--secondary-font);

}


.LeftInformation1Icon {
  width: 80px;
  height: 80px;
   border: 1.9px solid #e4e2e0f1;
   margin-right: 20px;
display: flex;



}
.LeftInformation1 i{
  color: var(--btn-color);
  width: 24px;
  height: 26px;
  align-self: center;
  padding-left: 34px;
  padding-top:6px;

}


.RightInformation{
    
    padding: 40px 15px;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        gap: 30px;


}

.RightInformation h5{
font-size: 24px;
font-family: var(--main-font);
color: var(--secondary-color-b);
}

.RightInformation form{
  font-size: 14px;
font-family: var(--secondary-font);
color: var(--secondary-color-b);
}


.RightInformation .inputname{
padding: 10px 15px;
width:220px;
height: 54px;

 
}

.RightInformation .inputemail{
padding: 10px 15px;
height: 54px;
 
}
.RightInformation textarea {
  height: 215px;
}



 .btnSendMessage:hover{
  background-color: var(--btn-color);
}









@media screen and (max-width:1059px){
  .Information{
    display: grid;
    grid-template-columns: 1fr;

  }
  .RightInformation{
    margin-top: 30px;
  }
}



@media screen and (max-width:705px){
 .RightInformation{
    
    padding:10px 10px;

 }
 
.inputnameful{
  flex-direction: column !important ;
  padding: 5px 5px ;
  
}

.inputname{
  width: 100% !important;
}

}
@media screen and (max-width:402px){
  .LeftInformation1{
    flex-direction: column !important;
    align-items: center;
    gap: 20px;

  }
}

@media screen and (max-width:310px){
  
.RightInformation{
    
padding-left: 3px;
padding-right: 3px;

}



.RightInformation .inputname{
padding: 5px 5px;
 
}

.RightInformation .inputemail{
padding: 5px 5px;
 
}
.LeftInformation{
  align-items: center;
}

.logonavbarimg{
  width:150px;
  height:80px;
 
}
}

@media screen and (max-width:468px){
.footer-shop{
  height:700px;
  padding-top:100px;
 }
}
@media screen and (max-width:1214px){
  .Allproduct{
    grid-template-columns: repeat(3,1fr);

  }
}
@media screen and (max-width:920px){
  .Allproduct{
    grid-template-columns: repeat(2,1fr);

  }
}


@media screen and (max-width:992px){
.icon-nav{
  text-align: center;
}

}





@media screen and (max-width:934px){
  

.ComeWithUs-section{   
  padding: 10px;
   grid-template-columns:1fr;
    gap: 20px;
}
.logos {
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
  
}
.footer-top .input-footer{
  width: 420px;
}

}
@media screen and (max-width:801px){
.logos{
 flex-wrap: wrap;

}

}


@media screen and (max-width:769px){

.Hero h1 {
  font-size: 60px;
}

.footer-bot{
  display: flex;
 flex-direction: column !important;
 width: 100%;
 gap: 40px;

}

.footer-left{
  padding-left: 30px;
  width: 100%;
  margin-bottom: 10px;
}
.footer-right{
  width: 100%;
 
}







}

@media screen and (max-width:680px){
  .OurProductsLinks{
   display: grid;
     grid-template-columns: repeat(3,1fr);
     text-align: start;

     
  }

}


@media screen and (max-width:639px){


.footer-top span{
  font-size:25px;
}
.footer-top .input-footer{
  width:250px;
}

}
@media screen and (max-width:620px){
  .banner-section{

    grid-template-columns: auto;
  }

   .Allproduct{
    grid-template-columns: repeat(1,1fr);
    text-align: center;

  }

}

@media screen and (max-width:572px){

  .logos{
 grid-template-columns:1fr 1fr;



}
.logos img{
  margin-bottom:20px;
}
}

@media screen and (max-width:564px){
  .page-nav{
     display: flex;
    flex-direction:column;
    align-items:center;
     justify-content: center;
  }
  .icon-nav{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

  }

}


@media screen and (max-width:550px){
  .ComeWithUs-section{
    height:fit-content;
  }

}
@media screen and (max-width:479px){

.Hero h1 {


  font-size:40px;


}

.Hero img

 {
    height:80px;
    width: 60px;
}

.footer-top .input-footer{
  width:150px;
 height:50px;
 font-size:12px;
}

.footer-top .button-footer {
   width:100px;
 height:50px;
     font-size:18px;
}



}

@media screen and (max-width:467px){
.footer-right{
 flex-direction: column;
 gap: 10px;
 
}
}
@media screen and (max-width:800px){
.AllproductSweetDay{
  grid-template-columns: repeat(2,1fr);

 
}

 

}
@media screen and (max-width:500px){
.AllproductSweetDay{
  grid-template-columns:1fr;


 
}

 

}
@media screen and (max-width:400px){

  .Hero h1 {
  font-size:40px;
}
.Hero img

 {
    height:60px;
    width: 40px;
}

.logos{
 grid-template-columns:1fr;


}

.footer-top span{
  font-size:18px;
}
.footer-top .input-footer{
  width:180px;
     font-size:14px;
     
}
}


@media screen and (max-width:353px){
  .footer-top .input-footer{
  width:100px;
 height:50px;
 font-size:12px;
}

.footer-top .button-footer {
   width:70px;
 height:50px;
     font-size:14px;
}
.footer-top span{
  font-size:14px;
  font-weight: 800;
}


}

@media screen and (max-width:378px){
  .OurProductsLinks{
  grid-template-columns: repeat(2,1fr);
  text-align: start;


  }
}




/* shop */

@media screen and (max-width:1138px){
  .productall{
  
  grid-template-columns:repeat(4,1fr);
 
  gap:25px;
 
}
}

@media screen and (max-width:905px){
  .productall{
  
  grid-template-columns:repeat(3,1fr);
 
  gap:25px;
 
}
}
@media screen and (max-width:689px){
  .productall{
  
  grid-template-columns:repeat(2,1fr);
 
  gap:25px;
 
}
}

@media screen and (max-width:444px){
  .productall{
  
  grid-template-columns:repeat(1,1fr);
 
  gap:25px;
 
}
}


@media screen and (max-width:300px){

 .OurProductsLinks{
   display: grid;
     grid-template-columns:1fr;
   

     
  }
}
