@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&display=swap");
:root {
  --main-color: #ffffff;
  --secondary-color-g: #9a9087;
  --secondary-color-b: #212121;
  --main-font: "Montaga", serif;
  --secondary-font: "Inter", sans-serif;
  --btn-color: #bc8157;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top:50px;
}

.navbar-custom {
 position:fixed;
 top: 0;
width: 100%;
 background-image: url(../img/HeroSection/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10000;
}

.width-30{
  width: 30%;
}
.width-20{
  width: 20%;
}

.width-60{
  width: 60%;
}


.width-70{
  width: 70%;
}

.navbar-custom a {
  color: var(--main-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 28.8px;
  font-size:20px;


}
.navlogo i {
   color: var(--main-color);
  
  font-size:20px;

}

.Hero {
  background-image: url(../img/HeroSection/Hero.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:850px;
  padding-bottom: 40px;
  
   

}
.Hero .container,
.Hero .row,
.Hero .HeroContent {
  height: 100%;
}

.Hero img {
  height: 108px;
  width: 95px;
}

.Hero h1 {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size:80px;
  font-weight: 400;
  line-height: 85px;
  line-height: 1.2;

 

}

.order-now-btn {
  width: 210px;
  height: 70px;
  background-color: var(--btn-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 62px;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  transition: background-color 0.5s;
  margin-top: 25px;
}
.order-now-btn:hover {
  background-color: black;
}






.ComeWithUs-section{
  margin-top:200px;
  background-image: url(../img/ComeWithUs.png);
  background-size: cover;
  background-repeat: no-repeat;
 width: 100%;
  height:600px;
padding-left:80px;
 padding-right:80px;  
     display:grid;
     grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-items: center;

 

 
}


.ComeWithUsLeft{
background-color: #2F1E12;
    padding: 70px 60px;
    max-width: 720px;
     
     color: var(--main-color);
    
     display:flex;
     flex-direction: column;
     gap: 10px;
     align-items:flex-start;
     justify-content: center;
   
     
   
}
.ComeWithUsLeft h3{
font-family: var(--main-font);
 font-size: 24px;
}

.ComeWithUsLeft h3::after{
  content:" _______";
  font-size: 24px;
  font-weight: bold;
}
.ComeWithUsLeft p{
  font-family: var(--secondary-font);
   font-size: 16px;
}

.ComeWithUsRight{
  position: relative;


}

.ComeWithUsRightArrow{
    position: absolute ;
        top: 73px;
    left:88px;
  color: var(--main-color);
  font-size:42px;
  font-weight: 200 !important;


}













.logos{
  display:grid;
  grid-template-columns: repeat(5,1fr);
 gap:80px;
 margin-top: 80px;
 margin-bottom: 80px;
 align-items: center;
 justify-content: center;

}
.logos img{
  height:110px;
  width: 120px;
}


.footer {
  height: 100vh;
}

.footer-top {
  width: 100%;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--main-color);
  height:60vh;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-top span{
  font-family: var(--main-font);
  font-size: 32px;
font-weight: 400;
line-height: 41.6px;
text-transform: uppercase;
margin-bottom: 20px;

}

.footer-top .input-footer{
  width: 650px;
  height: 70px;
  background-color: var(--main-color);
  border: none;
 
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: rgb(33, 33, 33);
 
}
.footer-top .button-footer{
  font-family: var(--main-font);
font-size: 22px;
font-weight: 400;
line-height: 28px;
color: var(--secondary-color-b);
   width:120px;
  height: 70px;
  background-color: var(--main-color);
  border: none;
}

.button-footer:hover{
  color: var(--btn-color);
}

.footer-bot {
  padding-top: 80px;
}

.footer-bot h5 {
  color: var(--secondary-color-b);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-bot a {
  font-family: var(--secondary-font);
  color: var(--secondary-color-g);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-decoration: none;
}
.footer-bot a:hover {
 
  color: var(--secondary-color-b);
  
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   gap: 40px;

   
}








/* =========================================================================================================== */

/* shop */



.Hero-shop {
  background-image: url(../img/shop/heroshop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:550px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    overflow: hidden;

   

}

.Hero-shop .overlay {
 
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height:600px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.Hero-shop .content {
  position: relative;
  z-index: 2;
}

.Hero-shop  h1{
 font-size: 80px;
 font-family:var(--main-font);
 color: #ffffff;

}


.Hero-shop  a{
 font-size:30px;
 font-family:var(--main-font);
 color: #ffffff;
 text-decoration: none;

}



.products{
  margin-top: 60px;
  margin-bottom: 60px;
}

.products a{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 22px;
  color: var(--secondary-color-b);
}

.products span{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 22px;
  color: var(--secondary-color-b);
}
.product{
  margin-bottom: 50px;
}
.productall{
  display: grid;
  grid-template-columns:repeat(5,1fr);
  justify-content: center;
  align-items: center;
  gap: 25px;

 
}
.product-img{
  border: #9a9087 solid 1px;
  height:260px;
}

.product-img img {
  width:200px;
  
}



.footer-bot-shop {
  height:650px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
   color: #ffffff;
}



.footer-bot-shop a {
  font-family: var(--secondary-font);
  color: var(--secondary-color-g);
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-decoration: none;
}
.footer-bot-shop a:hover {
 
  color: var(--secondary-color-b);
  
}















































@media screen and (max-width:992x){
.icon-nav{
  text-align: center;
}

}





@media screen and (max-width:934px){
  

.ComeWithUs-section{   
  padding: 10px;
   grid-template-columns:1fr;
    gap: 20px;
}
.logos {
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
  
}
.footer-top .input-footer{
  width: 420px;
}

}
@media screen and (max-width:801px){
.logos{
 flex-wrap: wrap;

}

}


@media screen and (max-width:769px){

.Hero h1 {
  font-size: 60px;
}

.footer-bot{
  display: flex;
 flex-direction: column !important;
 width: 100%;
 gap: 40px;

}

.footer-left{
  padding-left: 30px;
  width: 100%;
  margin-bottom: 10px;
}
.footer-right{
  width: 100%;
 
}







}


@media screen and (max-width:639px){


.footer-top span{
  font-size:25px;
}
.footer-top .input-footer{
  width:250px;
}

}


@media screen and (max-width:572px){

  .logos{
 grid-template-columns:1fr 1fr;



}
.logos img{
  margin-bottom:20px;
}
}

@media screen and (max-width:564px){
  .page-nav{
     display: flex;
    flex-direction:column;
    align-items:center;
     justify-content: center;
  }
  .icon-nav{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

  }

}


@media screen and (max-width:550px){
  .ComeWithUs-section{
    height:fit-content;
  }

}
@media screen and (max-width:479px){

.Hero h1 {


  font-size:40px;


}

.Hero img

 {
    height:80px;
    width: 60px;
}

.footer-top .input-footer{
  width:150px;
 height:50px;
 font-size:12px;
}

.footer-top .button-footer {
   width:100px;
 height:50px;
     font-size:18px;
}



}

@media screen and (max-width:467px){
.footer-right{
 flex-direction: column;
 gap: 10px;
 
}
}
@media screen and (max-width:400px){

  .Hero h1 {
  font-size:40px;
}
.Hero img

 {
    height:60px;
    width: 40px;
}

.logos{
 grid-template-columns:1fr;


}

.footer-top span{
  font-size:18px;
}
.footer-top .input-footer{
  width:180px;
     font-size:14px;
     
}
}


@media screen and (max-width:353px){
  .footer-top .input-footer{
  width:100px;
 height:50px;
 font-size:12px;
}

.footer-top .button-footer {
   width:70px;
 height:50px;
     font-size:14px;
}
.footer-top span{
  font-size:14px;
  font-weight: 800;
}


}






/* shop */

@media screen and (max-width:1138px){
  .productall{
  
  grid-template-columns:repeat(4,1fr);
 
  gap:25px;
 
}
}

@media screen and (max-width:905px){
  .productall{
  
  grid-template-columns:repeat(3,1fr);
 
  gap:25px;
 
}
}
@media screen and (max-width:689px){
  .productall{
  
  grid-template-columns:repeat(2,1fr);
 
  gap:25px;
 
}
}

@media screen and (max-width:444px){
  .productall{
  
  grid-template-columns:repeat(1,1fr);
 
  gap:25px;
 
}
}


